/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgb(27, 24, 212);
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
.card-image-top {
 align-content: center;
}
.card-text {
  color: black;
}
