/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgb(75, 73, 184);
}
p {
  text-align: center;
}
h1 {
  text-align: center;

}
.card-image-top {
 align-content: center;
}
.card-text {
  color: rgb(235, 46, 46);
  text-align: center;
}
.card-title {
  color: rgb(247, 244, 244);
  text-align: center;
}
.col-4 {
  text-align: center;
}
.col-4 {
  background-color: rgb(243, 244, 247);
}
.col-4 {
margin-left: auto;
margin-right: auto;
}
.container-fluid {
text-align: center;
}
.weather-list{
  text-decoration-color: aliceblue;
}

